<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/861e941f14.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
</body>
<footer class="page-footer font-small special-color-dark pt-4">
    <div class="container">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://www.twitter.com/rdotsilva" target="_blank">
                    <i class="fab fa-twitter" style="color:#b3b3cc;"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/rdotsilva/" target="_blank">
                    <i class="fab fa-linkedin-in" style="color:#b3b3cc;"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-github mx-1" href="https://www.github.com/rdotsilva" target="_blank">
                    <i class="fab fa-github" style="color:#b3b3cc;"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
</html>