<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <title>About</title>
</head>
<body>
<div th:insert="fragments/navbar.html"></div>
<h1 class="text-center">Retrospective</h1>

<div class="container">
    <p class="text-center">
        This is a brief retrospective for this project.
    </p>
    <p class="text-center">
        My official start date for the project was 10/13/19 and I finished the project on 11/13/19.

        The project was broken into 3 phases. I was required to create a Trello board and complete this project using
        the Agile Methodology.
    </p>

    <p class="text-center">
        Phase 1 required me to create a Yahoo Finance account and save stocks to my portfolio.
        After this I was asked to create a console scraping application that would log into my finance account and scrape the data
        from the stock tables and write it to console.
    </p>

    <p class="text-center">
        Phase 2 required me to create a new database to work with. I was allowed to pick any database I wanted. After creating a database
        I would have to outline a schema to use for the stock data. I then had to integrate the newly created database into my
        stock scraper console app. The data needed to be stored in the database and persisted.
    </p>

    <p class="text-center">
        Phase 3 required me to implement a front end web application to showcase the scraper the data. I was required to
        implement user authentication, ensuring users could only access the data once they were registered in the database.
        I also needed to integrate my old console scraper into the web app and get it to work with the push of a button.
        Finally I was required to display the data from the current scrape, and also all previous scrape data.
    </p>

    <p class="text-center">
        For extra credit I decided to deploy my web scraper. I choose to use Heroku as the deployment platform.
        This required a great deal of troubleshooting and the web application you see here is the result.
    </p>

    <h4 class="text-center">Languages/Tools/Frameworks used in the project</h4>
    <div class="list-group">
        <a href="https://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" class="list-group-item list-group-item-action" target="_blank">Java 1.8</a>
        <a href="https://maven.apache.org/" class="list-group-item list-group-item-action" target="_blank">Maven</a>
        <a href="https://www.mysql.com/" class="list-group-item list-group-item-action" target="_blank">MySQL</a>
        <a href="https://spring.io/" class="list-group-item list-group-item-action" target="_blank">Spring Framework 5</a>
        <a href="https://www.thymeleaf.org/" class="list-group-item list-group-item-action" target="_blank">Thymeleaf</a>
        <a href="https://www.seleniumhq.org/projects/webdriver/" class="list-group-item list-group-item-action" target="_blank">Selenium Webdriver</a>
        <a href="https://www.heroku.com" class="list-group-item list-group-item-action" target="_blank">Heroku</a>
        <a href="https://www.jetbrains.com/idea/" class="list-group-item list-group-item-action" target="_blank">IntelliJ IDEA</a>
    </div>
</div>
</div>
</body>
<footer>
    <div th:insert="fragments/footer.html"></div>
</footer>
</html>