<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <title>Welcome Page</title>
</head>
<body>
<div th:insert="fragments/navbar.html"></div>

<div class="container">
    <h1 class="text-center"> <span th:utext="${userName}"></span></h1>
</div>
<br>
<h4 class="text-center">Yahoo Finance Web Scraper</h4>
<p class="text-center"><strong>Getting Started</strong></p>
<p class="text-center">Click <a href="/scrape"><b>SCRAPE</b></a> to scrape & view results.</p>
<p class="text-center">Click <a href="/latest"><b>Latest</b></a> to see last 10 stock results.</p>
<p class="text-center">Click <a href="/stocks"><b>Stocks</b></a> to see entire stock history.</p>


</body>
<footer>
    <div th:insert="fragments/footer.html"></div>
</footer>
</html>